.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info_teacher{
    text-align: center;
    color: darkblue;
}
.cards1{
    text-align: left;
    padding: 20px;
    width: 95%;
    height: 400px;
    margin: 0 auto;
    box-sizing: border-box;
}